{html}

<style>
    body {
        padding: 20px;
        font-family: var(--vscode-font-family);
        color: var(--vscode-editor-foreground);
        font-size: 14px;
        line-height: 18px;
        max-width: 800px;
        width: 100%;
    }

    ::selection {
        background: var(--vscode-editor-selectionBackground);
        color: var(--vscode-editor-selectionForeground);
    }

    table,
    pre,
    p {
        margin: 0;
        margin-bottom: 10px;
    }

    pre {
        background-color: var(--vscode-textBlockQuote-background);
        padding: 10px 15px;
        width: fit-content;
    }

    code {
        font-family: var(--vscode-editor-font-family);
        font-size: var(--vscode-editor-font-size);
        font-weight: var(--vscode-editor-font-weight);
    }

    a {
        color: var(--vscode-textLink-foreground);
        text-decoration: none;
        font-weight: 500;
        outline: none !important;
    }

    table {
        border-collapse: collapse;
    }

    th,
    td {
        padding: 7px 10px;
        text-align: left;
    }

    td:last-child {
        font-size: 12.5px;
        font-style: italic;
    }

    th:not(:last-child),
    td:not(:last-child) {
        white-space: nowrap;
        border-right: 1px solid var(--vscode-menu-separatorBackground);
    }

    thead tr,
    tr:not(:last-child) {
        border-bottom: 1px solid var(--vscode-menu-separatorBackground);
    }

    hr {
        border-color: var(--vscode-menu-separatorBackground);
        margin: 15px 0;
    }

    .comment {
        opacity: 0.7;
    }
</style>

<script>
    document.querySelectorAll("pre").forEach((pre) => {
        pre.innerHTML = pre.innerHTML.replace(/--.+?(]]|(?=$))/gm, (match) => {
            return `<span class="comment">${match}</span>`;
        });
    });
</script>
