{html}

<style>
    body {
        padding: 20px;
        font-family: var(--vscode-font-family);
        color: var(--vscode-editor-foreground);
        font-size: 14px;
        line-height: 18px;
        max-width: 800px;
        width: 100%;
    }

    pre,
    p {
        margin: 0;
        margin-bottom: 10px;
    }

    pre {
        font-family: var(--vscode-editor-font-family);
        background-color: var(--vscode-textBlockQuote-background);
        color: var(--vscode-textBlockQuote-foreground);
        padding: 10px 15px;
        width: fit-content;
    }

    a {
        color: var(--vscode-textLink-foreground);
        text-decoration: none;
        font-weight: 500;
        outline: none !important;
    }
</style>
